// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.red {
    color: $red;
}

.blue {
    color: $blue;
}

.purple {
    color: $purple;
}

.header_menu {
    height: 50px;
    padding: 0 16 0 16;
}

.bg_color_red {
    background-color: $red;
}

.bg_color_blue {
    background-color: $blue;
}
