<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component. {{ title }}
                    </div>
                    <button @click="getclick">click here</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                title: ''
            }
        },
        methods: {
            getclick(e) {
                this.title = 'ララベルテスト'
            }
        }
    }
</script>
